<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Name</h1>
    <img src="3412.png" alt="fas">    
    <a href="">Logout</a>
    <div class="nav">
        <ul class="list">
            <a href id="select">Home</a>
            <a href id="select">Course</a>
            <a href id="select">Students</a>
            <a href id="select">Subjects</a>
            <a href id="select">Marks</a>
            <a href id="select">Notice</a>
            <a href id="select">Profile</a>
        </ul>
    </div>
</body>
</html>