<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration </title>
</head>
<body>
    <h3 class="title-center">Register new Student</h3>
    
    <div class="form">
      <form action="/register" method="POST">
        <div class="title">Student Name : <input type="text" id="project_name" name="name" /></div>
        <br />

        <p>upload pp
        </p>
       <!-- <div>
          Student Profile Photo :
          <input
            type="file"
            name="uploadImages"
            id="uploadImages"
            accept="image/x-png, image/gif, image/jpeg, image/jpg"
            multiple
          />
        </div>  -->
        <br>
        <div>
          <label for="category" class="category">Course</label>
          <select name="Major" id="category">
            <option value="CSE" >Computer Engineering</option>
            <option value="EXTC">Extc Engineering</option>
          </select>
        </div>
        <br />
        <label for="year">Semester</label>
        <div>
          <select name="semester" id="year">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
        <br />
        <div class="text-area">
          <label for="description" class="lable-field">info</label>
            <br>
            <textarea name="info"
            id="project_description"
            width: 323px; height: 38px;></textarea>
        </div>
        <br>
        <div class="title">login : <input type="text" id="project_name" name="login" /></div>\
        <h1>Default Password is 'Name'123</h1>
        <div><button class="btn-submit" type="submit" id="upload_btn">Submit</button></div>
      </form>
</body>
</html>