<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <header>
        <h1>Name</h1>
        <img src="3412.png" alt="fas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vero consequuntur aliquam ipsam quaerat, quis repellendus natus possimus ullam, nihil dolorem culpa deleniti porro, corporis et omnis reprehenderit aspernatur debitis.</p>    
        <a href="/exit">Logout</a>
    </header>
    <div class="nav">
        <ul class="list">
            <a href ="select">Home</a>
            <a href ="select">Course</a>
            <a href ="/admin-create">Students</a>
            <a href ="select">Subjects</a>
            <a href ="select">Marks</a>
            <a href ="select">Notice</a>
            <a href ="select">Profile</a>
        </ul>
    </div>
</body>
</html>