<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home</title>
</head>
<body>
  <h6>Hello</h6>
    <!-- <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, sint rem? Vel temporibus nihil, consectetur aperiam et cum! Itaque expedita in quod veniam impedit ipsam quis sunt corporis dolorum reiciendis!</h6>
          <br><br>
          <h1 class="title"><%= blog.fname %></h1>
          <p class="snippet"><%= blog.lname %></p>
          <p class="snippet"><%= blog.home%></p>
          <h1 class="title"><%= blog.login%></h1>
          <h1 class="title"><%= blog.pass%></h1>
        <% }) %>
      <% } else { %>
        <p>There are no blogs to display...</p>
      <% } %> -->
      <a href="/exit">Logout</a>
</body>
<style>a{
font-size: 435px;}</style>
</html>