<div class="sidebar">
  <div class="logo-details">
    <span class="logo_name"></span>
  </div>
    <ul class="nav-links">
      <li>
        <a href="/l" class="active">
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class='bx bx-box' ></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li>
        <a href="/blogs" class="active">
          <i class='bx bx-list-ul' ></i>
          <span class="links_name">Blogs</span>
        </a>
      </li>
      <li>
        <a href="/marks">
          <i class='bx bx-list-ul' ></i>
          <span class="links_name">Marks</span>
        </a>
      </li>
      <li class="log_out active" >
        <a href="/exit">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>